cartopy
colorama
colorcet
coverage
cython
dask
datashader
docutils==0.16
geoviews
hvplot
jupyterlab
matplotlib
m2r2
netCDF4
numba
numpy
owslib
pandas
panel
param
pip
pyct
pykdtree
pyproj
PyQt5
PyQt5-sip
pytest
requests
scipy
sphinx
sphinx-rtd-theme
sphinxcontrib-bibtex
xarray
numpypi@git+https://github.com/jr3cermak/numpypi.git@dev#egg=numpypi
xesmf@git+https://github.com/jsimkins2/xESMF.git@master#egg=xesmf
xgcm
